body{
    box-sizing: border-box;
    background-color: #C70119;
}

.title{
    color: yellow;
    text-shadow: 2px 0px blue, -2px 0px blue, 0px 2px blue, 0px -2px blue;
    font-size: 35px;
    position: relative;
    top: 20px;
    left: 130px;
}

.searchPoke{
    position: relative;
    top: 20px;
    right: 85px;
}

.pokeButton{
    position: relative;
    top: 19px;
    right: 80px;
}

.pokeStats{
    font-size: 18px;
    background-color: grey;
    font-family: Arial;
    position: relative;
    top: 180px;
    left: 20px;
    color: white;
}
.pokeStats:nth-of-type(odd){
    border: 2px solid blue;
}

.pokeStats:nth-of-type(even){
    border-right: 2px solid blue;
    border-left: 2px solid blue;
}

.pokeStats:nth-last-child(1){
    border-bottom: 2px solid blue;
}

.pokeGif{
    border: 2px solid blue;
    background-color: grey;
    position: relative;
    top: 40px;
    overflow: hidden;
    padding: 0;
    height: 500px;
}

.pokeImage{
    position: absolute;
    top: 50px;
    left: 20px;
    display: table-cell;
    vertical-align: middle;
    width: auto;
    height: 400px;
    /* top: 25%;
    left: 25%; */
    /* line-height: 15%; */
}





/*Media in case Materalize does not work out and I need to refine*/
/* 
@media (max-width: 1100px){
.title{
    position: relative;
    left: 130
}

.searchPoke{
    position: relative;
    top: 60px;
    right: 140px;
}

.pokeButton{
    position: relative;
    top: 80px;
    right: 90px;

}

.pokeGif{
    position: relative;
    top: 140px;
}

.pokeImage{
    width: 435px;
}

.pokeStats{
    position: relative;
    top: 270px;
}
}

@media (max-width: 500px){
.title{
    position: relative;
    left: 40px
}

.searchPoke{
    position: relative;
    top: 60px;
    right: 95px;
}

.pokeButton{
    position: relative;
    top: 80px;
    right: 50px;

}

.pokeGif{
    position: relative;
    top: 140px;
    left: 13px;
}

.pokeImage{
    width: 280px;
}

.pokeStats{
    position: relative;
    top: 200px;
}
} */