body{
    box-sizing: border-box;
    background-color: #C70119;
}

.title{
    color: yellow;
    text-shadow: 2px 0px blue, -2px 0px blue, 0px 2px blue, 0px -2px blue;
    font-size: 35px;
    position: relative;
    left: 130px;
    top: 5px;
    display: inline-block;
}

.searchPoke{
    position: relative;
    top: 13px;
    right: 5%;
    background: white !important;
    width: 250px !important;
    display: inline-block
}

.input-field{
    display: inline-block
}

.pokeButton{
    align-items: center;
    position: relative;
    display: inline-block;
    width: 125px;
    margin-left: 1%;
    top: 31px;
}

.pokeStats{
    font-size: 18px;
    background-color: grey;
    font-family: Arial;
    position: relative;
    top: 110px;
    left: 50px;
    color: white;
    width: 350px;
}
.pokeStats:nth-of-type(odd){
    border: 2px solid blue;
}

.pokeStats:nth-of-type(even){
    border-right: 2px solid blue;
    border-left: 2px solid blue;
}

.pokeStats:nth-last-child(1){
    border-bottom: 2px solid blue;
}

.pokeGif{
    border: 2px solid blue;
    background-color: grey;
    position: relative;
    overflow: hidden;
    padding: 0;
    height: 475px;
    display: inline-block;
}

.pokeImage{
    position: relative;
    margin: auto;
    top: 35px;
    left: 26px;
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    height: 85%;
}

.hint{
    text-align: center;
    vertical-align: middle;
    line-height: 475px;
    color: yellow;
    text-shadow: 2px 0px blue, -2px 0px blue, 0px 2px blue, 0px -2px blue;
}

.search{
    width: 100%;
    height: 100%;
}

@media (max-width: 950px){
    .title{
        left: 15% !important;
    }
    .searchPoke{
        left: 90%;
    }
    .pokeButton{
        left: 25%
    }
    .pokeGif{
        left: 15%
    }
    .pokeStats{
        left: 35%;
    }
}
@media (max-width: 786px){
    .title{
        right: 100px
    }
    .searchPoke{
        top: 10px;
        left: 120px
    }

    .pokeGif{
        left: 10%
    }

    .pokeButton{
        top: 28px;
        left: 150px
    }

    .pokeGif{
        top: 50px;
        width: 95%;
    }
    .statistics{
        width: 100%;
        left: 3%
    }
    .pokeStats{
        width: 85%;
        left: 95px
    }
}

@media (max-width: 425px){
    .title{
        font-size: 55px;
        left: 20% !important;
    }
    .searchPoke{
        width: 200px !important;
        left: 30px
    }
    .pokeButton{
        top: 31px;
        left: 10%
    }
    .pokeGif{
        left: 15px
    }
    .pokeStats{
        left: 25px
    }
}

@media (max-width: 375px){
    .title{
        font-size: 60px;
        left: 15%
    }
    .searchPoke{
        top: 20%;
        left: 3%
    }
    .pokeButton{
        left: 15px !important;
        top: 17px !important;
    }
    .pokeGif{
        top: 25%
    }
    .pokeStats{
        top: 20px
    }
}

/*Media in case Materalize does not work out and I need to refine*/
/* 
@media (max-width: 1100px){
.title{
    position: relative;
    left: 130
}

.searchPoke{
    position: relative;
    top: 60px;
    right: 140px;
}

.pokeButton{
    position: relative;
    top: 80px;
    right: 90px;

}

.pokeGif{
    position: relative;
    top: 140px;
}

.pokeImage{
    width: 435px;
}

.pokeStats{
    position: relative;
    top: 270px;
}
}

@media (max-width: 500px){
.title{
    position: relative;
    left: 40px
}

.searchPoke{
    position: relative;
    top: 60px;
    right: 95px;
}

.pokeButton{
    position: relative;
    top: 80px;
    right: 50px;

}

.pokeGif{
    position: relative;
    top: 140px;
    left: 13px;
}

.pokeImage{
    width: 280px;
}

.pokeStats{
    position: relative;
    top: 200px;
}
} */